<%= render 'public/header' %>
<main>
  <div class="container">
    <div class="row">
      <h1>本当に退会しますか</h1>
    </div>
    <div class="row">
      <p>
        退会すると、会員登録情報や</br>
        これまでの購入履歴が閲覧できなくなります</br>
        退会する場合は「退会する」をクリックしてください。
      </p>
      <%= link_to "退会しない",customers_mypage_path %>
      <%= link_to "退会する", customers_withdrawal_path, method: :patch %>
    </div>
  </div>
</main>