<%= render 'public/header' %>
<div class="row">
  <div class="col text-center py-5">
    <h1 class="display-3">
      About
    </h1>
  </div>
</div>
<div class="row">
  <div class="col text-center">
    <p>
      ながのCAKE全国発送可能なケーキ屋産です。</br>
      お子様からお年寄りの方までお召し上がりいただけるよう、</br>
      さまざまなバリエーションをご用意しております。</br>
      また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</br>
      ぜひご注文ください。
    </p>
  </div>
</div>
